In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

In [2]:
data=pd.read_csv("Online_Retail.csv")

In [20]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [4]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [5]:
data['Country'].value_counts()

Country
United Kingdom          221414
Germany                   4209
France                    3652
EIRE                      3080
Spain                     1147
Netherlands               1142
Belgium                    933
Switzerland                735
Australia                  642
Portugal                   624
Norway                     378
Channel Islands            368
Cyprus                     353
Finland                    312
Italy                      309
Japan                      251
Sweden                     200
Hong Kong                  200
Poland                     187
Denmark                    184
Austria                    127
Singapore                  118
Iceland                    102
Greece                      85
Unspecified                 83
Canada                      68
Malta                       47
Lebanon                     45
Israel                      38
Lithuania                   35
Brazil                      32
European Community          32
United Arab Emirates        30
USA                         22
Bahrain                     19
Czech Republic              17
Saudi Arabia                10
Name: count, dtype: int64

In [6]:
total_country=data['Country'].value_counts().sum()

In [7]:
countries=total_country.item()

In [8]:
countries

241230

In [13]:
data.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [12]:
data.dropna(inplace=True)

In [18]:
invoiceDate=data['InvoiceDate']

In [16]:
total_price_per_customer=data['UnitPrice']*data['Quantity']

In [17]:
invoiceno=data['InvoiceNo']

In [54]:
recent_date=data['InvoiceDate'].max()
recent_date=datetime.strptime(recent_date, "%d/%m/%Y %H:%M")
recent_datee=data['InvoiceDate'].min()

In [67]:
def decide_recency(recent_date,customer_last_purchase):
  date=abs((recent_date-customer_last_purchase)).days
  print(date)
  print(recent_date)
  print(customer_last_purchase)
  if date < 20:
    return 1
  elif date < 30:
    return 2
  elif date < 45:
    return 3
  elif date < 55:
    return 4
  else:
    return 5

In [68]:
def recency_score(customer_id,customer_last_purchase):
  last_purchase=datetime.strptime(customer_last_purchase, "%d/%m/%Y %H:%M")
  score=decide_recency(recent_date,last_purchase)
  return score

In [69]:
recency_score(101,recent_datee)

25
2011-09-06 09:54:00
2011-10-01 10:32:00

2

In [80]:
data.groupby('CustomerID')['InvoiceNo'].nunique()

CustomerID
12346.0    2
12347.0    4
12348.0    3
12350.0    1
12352.0    8
          ..
18277.0    1
18280.0    1
18281.0    1
18283.0    7
18287.0    1
Name: InvoiceNo, Length: 2979, dtype: int64

In [ ]:
def total_price(unit_price,quantity):
  return unit_price*quantity